<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title> Главная страница </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/icons/style.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/home.css}" rel="stylesheet" type="text/css">
</head>
<body>
<header th:insert="blocks/Header.html :: header"></header>
<div class="container mt-3" style="padding-top: 70px"/>
<div class="cssSlider mt-3">
    <ul class="slides">
        <li id="slide1"><img src="https://sun9-3.userapi.com/impg/sgR7stvQafqkgcGQ_qfU0kfQqRzW4sOB1_0ssQ/xJMPPZ5tYvQ.jpg?size=2560x1920&quality=95&sign=b922cf2aaed5d528d01cba2a77fdd3b4&type=album" alt=""/></li>
        <li id="slide2"><img src="https://sun9-10.userapi.com/impg/Esk-9ouYHlC2yS8vHHe71yG5pXp-_3pRP40a9g/WNnkZ3bnBCQ.jpg?size=2560x1920&quality=95&sign=bcf10745b9f130a4742a06b1bee0435e&type=album" alt=""/></li>
        <li id="slide3"><img src="https://sun9-7.userapi.com/impg/6j2YPGVxNk4ElqGQOqpXVOZNi94yf1F9Ovd2jw/tYYV6w7LFEY.jpg?size=2560x1920&quality=95&sign=64abf85c46adb45b809ef6e8b192bd81&type=album" alt=""/></li>
        <li id="slide4"><img src="https://sun9-51.userapi.com/impg/Udu79tDt89NT3AzAVQLHUwiOXEePQya4EP4a-w/qlMvxeQIZo4.jpg?size=2560x1920&quality=95&sign=f4ad1bfc7b0d40e00e6bf9d2db68fbfd&type=album" alt=""/></li>
        <li id="slide5"><img src="https://kartarf.ru/images/heritage/1080/2/23886.jpg" alt=""/></li>
    </ul>
    <ul class="thumbnails">
        <li><a href="#slide1"><img src="https://sun9-3.userapi.com/impg/sgR7stvQafqkgcGQ_qfU0kfQqRzW4sOB1_0ssQ/xJMPPZ5tYvQ.jpg?size=2560x1920&quality=95&sign=b922cf2aaed5d528d01cba2a77fdd3b4&type=album"/></a></li>
        <li><a href="#slide2"><img src="https://sun9-10.userapi.com/impg/Esk-9ouYHlC2yS8vHHe71yG5pXp-_3pRP40a9g/WNnkZ3bnBCQ.jpg?size=2560x1920&quality=95&sign=bcf10745b9f130a4742a06b1bee0435e&type=album"/></a></li>
        <li><a href="#slide3"><img src="https://sun9-7.userapi.com/impg/6j2YPGVxNk4ElqGQOqpXVOZNi94yf1F9Ovd2jw/tYYV6w7LFEY.jpg?size=2560x1920&quality=95&sign=64abf85c46adb45b809ef6e8b192bd81&type=album"/></a></li>
        <li><a href="#slide4"><img src="https://sun9-51.userapi.com/impg/Udu79tDt89NT3AzAVQLHUwiOXEePQya4EP4a-w/qlMvxeQIZo4.jpg?size=2560x1920&quality=95&sign=f4ad1bfc7b0d40e00e6bf9d2db68fbfd&type=album"/></a></li>
        <li><a href="#slide5"><img src="https://kartarf.ru/images/heritage/1080/2/23886.jpg"/></a></li>
    </ul>
</div>
<div class="mt-4">
<a>
    Уровень образования современных российских школ и университетов устраивает не всех. Дефицит знаний учащихся наиболее остро чувствуется при сдаче ЕГЭ и поступлении в ВУЗы. Восполнить прорехи в знаниях помогут репетиторы. Но поскольку обычным педагогам негде проводить индивидуальные занятия, был создан этот сайт.</a>
    <br><a>Услуга наиболее востребована у возрастной категории от 6 до 24 лет. Сегодня репетиторство популярно и неплохо оплачивается, поэтому спрос на опытных педагогов растет.</a>
<br><a>
    Основная задача организации — обеспечить обычный репетиторов помещением (лекторием) для индивидуальных занятий со студентами или учениками.</a>
<br><a>Расположение помещения в непосредственном соседстве с основными клиентами позволяют удобно планировать обучение самим клиентам, так как не придется тратить время на дорогу в другой конец города или в центр, где обычно стараются расположиться основные учебные заведения.</a>
<br><a>Кроме этих двух преимуществ выбора местоположения центра, также в отличие от центра города, стоимость аренды на периферии может быть на порядок ниже. Это сэкономит немалую часть инвестиционных средств при открытии дела.</a>
<br><a>Планировка помещения и его подготовка предусматривает соблюдение всех необходимых санитарных и противопожарных норм.
    В соответствии с поставленной задачей по организации репетиторского центра, проведения аудиторного обучения, семинарских занятий, а также для обеспечения сотрудников центра и преподавателей всем необходимым, планируется приобрести следующее оборудование:

    <ul>
        <li>Оборудование рабочих мест (компл.).
        <li> Компьютеры и ноутбуки.
        <li> Мультимедийный комплекс.
        <li> Оборудование офисное (компл.).
        <li> Хозяйственное бытовое оборудование (компл.).
        <li> Оборудование учебного класса (компл.).
        <li> Программное обеспечение учебных процессов.
    </ul>
</a>
    <br><a>В преддверие экзаменов репетиторские центры нужны как никогда, потому что оба экзамена требуют систематического натаскивания ребенка на типовые задания. Реже репетиторы нужны для сдачи экзаменов в институте или для изучения языка с целью поездки за рубеж. С каждым днём растёт количество репетиторов, которые занимаются частным образом и нигде не регистрируются: родителям приходится через объявления или “сарафанное радио” искать преподавателя по нужному им предмету и договариваются с ним напрямую. Но у таких педагогов зачастую нет специально оборудованного помещения под репетиторские занятия с учащимися школ или университетов.  Цель проекта — создание систему управления аудиторным фондом.
</a>
</div>
</body>
<footer class="footer" th:insert="blocks/Footer.html :: footer"></footer>
</html>